@import 'null.css';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body.page_1,
body.page_2 {
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   line-height: 1.6;
   color: #424551;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   max-width: 810px;
   margin: 0 auto;
}

header {
   padding: 30px 0;
   margin-bottom: 50px;
   background: #42455110;
}

.nav a {
   color: darkblue;
   font-weight: 700;
   border: 4px double darkslategray;
   border-radius: 20px;
   padding: 15px;
   box-shadow: inset 0 0 10px #000;
}

.block-heading {
   margin-bottom: 40px;
}

h1 {
   color: #1E212C;
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
   margin-bottom: 26px;
}

.block-meta {
   margin-bottom: 12px;
}

p.meta {
   display: inline-block;
   color: #787A80;
}

p.meta.text-red {
   color: #FF3F3A;
   font-weight: 700;
}

.meta.article {
   background: url('../img/0_Vector.png') 0 4px no-repeat;
   padding-left: 24px;
   margin-right: 12px;
}

.meta.hr {
   background: url('../img/0_1_divider.png') 0 4px no-repeat;
   padding-left: 12px;
}

.meta.data {
   background: url('../img/2_Vector\ \(Stroke\).png') 0 4px no-repeat;
   padding-left: 24px;
   margin-right: 24px;
}

.meta.time {
   background: url('../img/3_Union.png') 0 4px no-repeat;
   padding-left: 24px;
}

img {
   margin-bottom: 60px;
}

.block-text {
   margin-bottom: 48px;
}

.text-bold {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   margin-bottom: 24px;
}

.text-1 {
   margin-bottom: 24px;
}

.quote {
   padding-left: 58px;
   margin-bottom: 48px;
   background-image: url('../img/4_braces.png');
   background-repeat: no-repeat;
}

.text-list,
ul {
   margin-bottom: 24px;
}

li {
   padding-left: 32px;
   margin-bottom: 4px;
   background: url('../img/5_1_Vector.jpg') 0 6px no-repeat;
}


/* 2 часть макета */
/* ==================== */

.page_2 .wrapper {
   max-width: 390px;
}

.page_2 main {
   margin-bottom: 50px;
}

.page_2 .text-bold {
   font-size: 16px;
   text-transform: uppercase;
   letter-spacing: 1px;
   margin-bottom: 8px;
}

.page_2 h1 {
   margin-bottom: 40px;
}

.page_2 ul {
   margin-bottom: 48px;
}

.page_2 li {
   margin-bottom: 12px;
}

.red-btn {
   display: inline-block;
   padding: 0px 32px;
   min-width: 161px;
   min-height: 44px;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 4px;
   color: #ffff;
   font-size: 14px;
   font-weight: 700;
   line-height: 3.14;
   letter-spacing: 0.5px;
   text-align: center;
}